.italic {
    font-style: italic;
    margin-right: 1em;
    margin-left: 1em;
}

 pb-facs-link {
            display: block;
            margin-left: 7pt;
            color: grey;
            float: right;
}
.head {
    text-align: center;
}
.edRefLB  {
    display: none;
}

.edRefLB.toggle {
    display: inline-block;
}
.popoverTarget {
    text-decoration: var(--pb-toolbar-background-color) wavy underline;
}
.popoverTargetCorr {
    text-decoration: var(-paper-red-200) wavy underline;
}
.indent {
    margin-right: 0.5em;
}
.note {
    font-style: italic;
}
