.italic {
    font-style: italic;
    margin-right: 1em;
    margin-left: 1em;
}
ul.letters, ul.pages {
    color: grey;
    font-size: 80%;
    list-style-type: '- ';
}
.mycollapse-trigger {
    font-weight: bold;
    font-size: 85%;
}
.changeInfo {
    padding: 1em;
}

 pb-facs-link {
            display: block;
            margin-left: 7pt;
            color: grey;
            float: right;
}
.head {
    text-align: center;
}
.edRefLB  {
    display: none;
}
.underline {
    text-decoration: underline;
}

.doubleUnderline {
            text-decoration-line: underline;
            text-decoration-style: double;
        }
.edRefLB.toggle {
    display: inline-block;
}
.timelineEntry {
    padding: 1em;
   /* padding-top: 1em;*/
}
.myhighlight {
    background: var(--pb-toolbar-background-color);
}
.popoverTarget {
    text-decoration: var(--pb-toolbar-background-color) wavy underline;
}
.popoverTargetCorr {
    text-decoration: var(-paper-red-200) wavy underline;
}
.indent {
    margin-right: 0.5em;
}
.note {
    font-style: italic;
}
