
.Koeselitz_black, .typesetter_black, .typesetter_black1, .typesetter_black2 {
    color: var(--typesetter_black, green);
    font-style: italic;
}
 .Koeselitz_pencil, .typesetter_pencil { color: var(--npencil, gray); font-style: italic; font-weight: bold;}
   .Koeselitz_blue, .typesetter_blue { color: var(--nblue, blue); font-style: italic; font-weight: bold;}
.italic {
    font-style: italic;
    margin-right: 1em;
    margin-left: 1em;
}
a {
    color: inherit;
}
.Nnote, .fnote {
    padding-right: 0.5em;
}
.cbLem:before {
   content: attr(data-loc) ": "; 
}
.cbApp {
    list-style: none;
    padding-top: 1em;
}
.line, .xLine {
    position:absolute; 
    left: -3em; 
    color: black;
    font-style: italic;
}
.line {
    font-size: 80%;
    margin-top: 0.25em;
}
.tei-p3 {
    line-height: 1.15em;
}
ul.letters, ul.pages {
    color: grey;
    font-size: 80%;
    list-style-type: '- ';
}
.mycollapse-trigger {
    font-weight: bold;
    font-size: 85%;
}
.changeInfo {
    padding: 1em;
}

 pb-facs-link {
            display: block;
            margin-left: 7pt;
            color: grey;
            float: right;
}
.tei-hi2.spaced {
    letter-spacing: 0.2rem;
}
.tei-hi2.bold {
    font-weight: bold;
}
.head {
    text-align: center;
}
.edRefLB  {
    display: none;
}
.underline {
    text-decoration: underline;
}

.doubleUnderline {
            text-decoration-line: underline;
            text-decoration-style: double;
        }
.edRefLB.toggle {
    display: inline-block;
}
.timelineEntry {
    padding: 1em;
   /* padding-top: 1em;*/
}
.myhighlight {
    background: var(--pb-toolbar-background-color);
}
.popoverTarget {
    text-decoration: blue wavy underline;
}
.popoverTargetCorr {
    text-decoration: var(-paper-red-200) wavy underline;
}
.indent {
    margin-right: 3em;
}
.note {
    font-style: italic;
    font-size: 80%;
}
.tei-corr1 .tei-note.note {
    margin-left: 0.5em;
}